@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-300-Light.woff2") format("woff2"), url("../fonts/Jost-300-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-500-Medium.woff2") format("woff2"), url("../fonts/Jost-500-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-400-Book.woff2") format("woff2"), url("../fonts/Jost-400-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-600-Semi.woff2") format("woff2"), url("../fonts/Jost-600-Semi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-800-Heavy.woff2") format("woff2"), url("../fonts/Jost-800-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-check-mark:before {
  content: "\e908";
}

._icon-arrow-right:before {
  content: "\e902";
}

._icon-arrow-button:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-telegram:before {
  content: "\e904";
}

._icon-viber:before {
  content: "\e905";
}

._icon-vk:before {
  content: "\e906";
}

._icon-whats-app:before {
  content: "\e907";
}

._icon-arrow-down:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Jost";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Jost";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1260px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 42px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  position: relative;
  white-space: wrap;
  border-radius: 42px;
  padding-left: 50px;
  padding-right: 69px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button::before {
  position: absolute;
  width: 27px;
  font-size: 16px;
  top: 50%;
  right: 6px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  z-index: 2;
}

.button::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.button_orange {
  background-color: #f6b84d;
  border: 1px solid #f6b84d;
}

.button_orange::before {
  color: #f6b84d;
}

.button_orange::after {
  background-color: #fff;
}

.button_grey {
  background-color: #c4c4c4;
  height: 38px;
  width: 38px;
}

.button_white {
  background-color: #fff;
  border: 1px solid transparent;
}

.button_white::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.button_white::after {
  background-color: #f6b84d;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
          box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
}

.form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__column:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.form__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__line_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.9834938102%;
          flex: 0 0 55.9834938102%;
}

.form__line_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  height: 30px;
  width: 220px;
  background-color: #fafafa;
  border-bottom: 1px solid #c4c4c4;
}

.form__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  padding: 0px 0px 0px 65px;
  white-space: nowrap;
  border-radius: 2px;
  min-height: 54px;
}

.form__button::before {
  position: absolute;
  width: 27px;
  font-size: 16px;
  top: 50%;
  right: 30px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  z-index: 2;
}

.form__button::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  right: 25px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.form__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  opacity: 0.7;
}

.form__label_text {
  opacity: 0.78;
  -webkit-box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
          box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
  background-color: #fafafa;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.form__label_text::before {
  position: relative;
  min-height: 24px;
  min-width: 24px;
  font-size: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 0px;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fafafa;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "\e900";
  font-size: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #f6b84d;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  position: absolute;
  top: 29px;
  min-width: 100%;
  left: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
          box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
  border-top: 1px solid #d9d9d9;
}

.select__option {
  cursor: pointer;
  padding: 5px;
  line-height: 120%;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.65;
}

.select__option._active {
  opacity: 1;
}

.select__option._active::before {
  color: #f6b84d;
  border: 1px solid #f6b84d;
}

.select__option::before {
  color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  font-size: 10px;
  margin: 0px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__option:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 0px;
}

.input_number {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  padding: 0px 25px;
  min-height: 54px;
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  background-color: #fafafa;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
  margin: 0px 0px 0px 20px;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:before {
  border: 1px solid #f6b84d;
  color: #f6b84d;
  opacity: 1;
}

.options__input:checked + .options__text {
  opacity: 1;
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 120%;
  letter-spacing: 0.03em;
  opacity: 0.65;
}

.options__text:before {
  margin: 0px 10px 0px 0px;
  height: 20px;
  width: 20px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._title {
  font-weight: 600;
  font-size: 36px;
  font-size: calc(26px + 10 * ((100vw - 320px) / 1120));
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.01em;
}

._title span {
  display: inline-block;
  background-color: #f6b84d;
}

._title span._white {
  background-color: #fff;
}

.icon-arrow {
  position: absolute;
  height: 38px;
  width: 38px;
  background-color: #c4c4c4;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon-arrow ._icon-arrow-right::before {
  position: absolute;
  top: 50%;
  right: 6px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  color: #fff;
  width: 27px;
}

._popup-link {
  display: block;
}

.body:after {
  display: block;
  content: "";
  clear: both;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slider-arrows {
  width: calc(100% - 120px);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.slider-arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f6b84d;
  font-size: 8px;
  color: #fff;
  pointer-events: auto;
  cursor: pointer;
}

.slider-arrow_prev {
  left: 0;
}

.slider-arrow_prev::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-arrow_next {
  right: 0;
}

.slider-arrow_next::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper-button-disabled {
  background-color: #e5e5e5;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
          box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 5px);
      -ms-transform: translate(-50%, 5px);
          transform: translate(-50%, 5px);
  width: 620px;
  height: 2px;
  background-color: #f6b84d;
}

.popup__close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: 35px;
  cursor: pointer;
  z-index: 30;
}

.popup__close::after {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 2px;
  width: 25px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::before {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 2px;
  width: 25px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.01em;
}

.popup .popup__title:not(:last-child) {
  margin: 0px 0px 17px 0px;
}

.popup .popup__sub-title {
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
}

.popup .popup__sub-title span {
  background-color: #f6b84d;
}

.header {
  position: absolute;
  width: 100%;
  min-height: 160px;
  top: 0;
  left: 0;
}

.header::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100px;
}

.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}

.header._scroll .header__row {
  min-height: 60px;
}

.header__wrapper {
  -webkit-transition: background-color 0.3s ease 0.1s;
  -o-transition: background-color 0.3s ease 0.1s;
  transition: background-color 0.3s ease 0.1s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  width: 100%;
  min-height: 100px;
  z-index: 5;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  background-color: #fff;
  display: block;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 115.5px;
          flex: 0 1 115.5px;
  margin: 0px 30px 0px 0px;
  position: relative;
  z-index: 5;
}

.menu__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.0317460317%;
          flex: 0 1 26.0317460317%;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #000000;
  position: relative;
  z-index: 5;
}

.menu__item {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.menu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}

.menu__item_contacts {
  position: relative;
  z-index: 5;
  margin: 0;
}

.menu__link {
  color: #000000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.row-info__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49.2%;
          flex: 1 1 49.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-info__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-info__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 30px;
  position: relative;
  z-index: 10;
  margin-right: 70px;
}

.social > * {
  color: #f6b84d;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.social__vkontakte:not(:last-child) {
  margin: 0px 17px 0px 0px;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 29px 0px 0px;
}

.messengers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  line-height: 125%;
  color: #c4c4c4;
  font-size: 12px;
  margin: 0px 8px 0px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.messengers__item::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 0px 8px 0px 0px;
}

.contact {
  position: relative;
  z-index: 5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contact__telephone {
  font-weight: 600;
  line-height: 120%;
  color: inherit;
  letter-spacing: 0.03em;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 16px;
}

.contact__email {
  font-weight: 300;
  font-size: 14px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contact__email:not(:first-child) {
  margin: 2px 0px 0px 0px;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #fafafa;
}

.info-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.info-footer__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #000000;
  opacity: 0.6;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-screen {
  background: #fafafa;
  position: relative;
}

.main-screen__body {
  padding: 105px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

.main-screen__to-order {
  padding: 80px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.7%;
          flex: 0 0 40.7%;
}

.main-screen__background {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-screen__background:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.background-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.background-main__body {
  position: relative;
}

.background-main__image {
  padding: 0px 0px 43.2% 0px;
  position: relative;
}

.content-main {
  position: relative;
  z-index: 5;
}

.content-main__title {
  font-weight: 800;
  font-size: calc(36px + 10 * ((100vw - 320px) / 1120));
  text-align: left;
}

.content-main__title:not(:last-child) {
  margin: 0px 0px 32px 0px;
}

.content-main__title span {
  font-weight: 600;
  font-size: calc(24px + 4 * ((100vw - 320px) / 1120));
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content-main__form {
  width: 100%;
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.21);
  border-radius: 2px;
  padding-top: calc(20px + 15 * ((100vw - 320px) / 1120));
  padding-bottom: calc(20px + 15 * ((100vw - 320px) / 1120));
  padding-right: calc(20px + 15 * ((100vw - 320px) / 1120));
  padding-left: calc(20px + 15 * ((100vw - 320px) / 1120));
}

.form-main__input {
  background-color: #fff;
  border-bottom: 1px solid #c4c4c4;
  padding: 0px 0px 0px 0px;
}

.advantages {
  padding-top: 57px;
  padding-bottom: 57px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 15px 0;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 78px 1fr;
      grid-template: auto auto/78px 1fr;
}

.advantages__icon {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.advantages__title {
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__text {
  line-height: 120%;
  letter-spacing: 0.03em;
}

.calculation {
  background-color: #fafafa;
  padding: 50px 0px;
}

.calculation__title {
  margin: 0px 0px 50px 0px;
}

.calculation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculation__image {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0px 0px 37.2% 0px;
  border: 1px solid #f7b84d;
  border-radius: 2px;
  width: 100%;
}

.calculation__image_lining {
  display: none;
}

.calculation__form {
  padding: 32px 53px 32px 19px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54.9206349206%;
          flex: 0 1 54.9206349206%;
}

.catalog {
  padding: 80px 0px 0px 0px;
}

.catalog__title {
  margin: 0px 0px 40px 0px;
}

.catalog__body {
  min-height: 0;
}

.navigate-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: auto;
  margin: 0px 0px 40px 0px;
}

.navigate-catalog::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border: 1px solid #e5e5e5;
}

.navigate-catalog__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.navigate-catalog__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.navigate-catalog__item._active {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  background: #e5e5e5;
  -webkit-box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
          box-shadow: 0px 0px 30px rgba(166, 166, 166, 0.17);
}

.slider-catalog {
  position: relative;
}

.slider-catalog__body {
  overflow: hidden;
}

.slider-catalog__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-catalog__image {
  width: 300px;
  padding: 0px 0px 75% 0px;
}

.slider-catalog__image:not(:last-child) {
  margin-bottom: 20px;
}

.slider-catalog__title {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.slider-catalog__title:not(:last-child) {
  margin-bottom: 36px;
}

.slider-catalog__price-and-term {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.slider-catalog__price-and-term:not(:last-child) {
  margin-bottom: 6px;
}

.slider-catalog__price {
  margin-right: 50px;
}

.slider-catalog__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  opacity: 0.7;
}

.slider-catalog__text:not(:last-child) {
  margin-bottom: 18px;
}

.choose {
  padding-top: 80px;
}

.choose__title {
  margin-bottom: 40px;
}

.choose__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-choose {
  margin: 0px auto 20px auto;
}

.item-choose__image {
  width: 238px;
  padding: 0px 0px 105.4621848739% 0px;
}

.item-choose__image:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-choose__title {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-choose__title::after {
  content: "";
  width: 100%;
  height: 0px;
  opacity: 0.7;
  border: 1px solid #c4c4c4;
  margin: 15px 0;
}

.delivery__container {
  overflow: hidden;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery__body {
  padding-top: 67px;
  padding-left: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery__title {
  text-align: left;
}

.delivery__title:not(:last-child) {
  margin: 0px 0px 18px 0px;
}

.delivery__text {
  line-height: 120%;
  letter-spacing: 0.03em;
}

.delivery__text:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.delivery__form {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.delivery__image {
  margin: 0px -90px 0px 50px;
  -webkit-transition: all 0.8s ease-in 0s;
  -o-transition: all 0.8s ease-in 0s;
  transition: all 0.8s ease-in 0s;
}

.delivery__image._active {
  -webkit-transform: translate(-250%, 0);
      -ms-transform: translate(-250%, 0);
          transform: translate(-250%, 0);
}

@media (min-width: 767.98px) {
  .header._scroll .menu__logo,
  .header._scroll .menu__text {
    display: none;
  }

  .header._scroll .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header._scroll .menu__list {
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    min-height: 0;
    width: 50%;
  }

  .header._scroll .row-info__social {
    display: none;
  }

  .header__row {
    position: relative;
  }

  .header__menu {
    min-height: 40px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    z-index: 5;
  }
}

@media (min-width: 991.98px) {
  .form__line:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header._scroll .header__row {
    min-height: 100px;
  }

  .header__row {
    padding: 25px 0;
  }

  .messengers__item:not(:last-child)::after {
    content: "";
    top: 0;
    left: 8px;
    height: 16px;
    width: 1px;
    background-color: #c4c4c4;
    margin: 0px 0px 0px 8px;
  }

  .main-screen__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .background-main__body {
    margin: 0px -90px 0px 0px;
    width: 927px;
  }

  .background-main__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: -93px;
    height: 100%;
    width: 350px;
    background: -webkit-gradient(linear, left top, right top, color-stop(45.22%, #fafafa), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, #fafafa 45.22%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, #fafafa 45.22%, rgba(255, 255, 255, 0) 100%);
  }

  .calculation__image {
    margin: 0px 0px 0px -63px;
  }

  .calculation__image {
    width: 631px;
  }

  .delivery__body {
    padding-bottom: 67px;
  }
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1272px) {
  .form__button {
    padding: 0px 124px 0px 65px;
  }

  .form__label_text {
    margin: 0px 200px 20px 0px;
  }

  .select__option {
    padding: 12px 5px 12px 23px;
  }

  .input_number {
    border-bottom: 1px solid #c4c4c4;
    border-radius: 2px 0 0 2px;
  }

  .social {
    margin: 0px 129px 0px 0px;
  }

  .form-main__input:not(:last-child) {
    margin-right: calc(20px + 18 * ((100vw - 320px) / 1120));
  }
}

@media (min-width: 1440px) {
  .slider-arrows {
    width: calc(100% + 120px);
    left: -60px;
  }
}

@media (max-width: 1440px) {
  .slider-arrows {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 1272px) {
  ._container {
    max-width: 970px;
  }

  .form__line_number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .input_number {
    border-right: 1px solid #c4c4c4;
    border: 2px 2px 0 0;
  }

  .slider-arrows {
    width: calc(100% + 60px);
    left: -30px;
  }

  .header._scroll .messengers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header._scroll .messengers__item::after {
    display: none;
  }

  ._scroll .menu__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }

  .main-screen__to-order {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.74%;
            flex: 0 0 31.74%;
  }

  .form-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-main__input {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1120));
  }

  .form-main__button {
    width: 100%;
  }

  .delivery__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivery__image {
    margin: 0px -120px 0px 50px;
  }
}

@media (any-hover: hover) and (max-width: 1272px) {
  .button._fw {
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .button {
    padding-left: calc(35px + 15 * ((100vw - 320px) / 940));
  }

  .button {
    padding-right: calc(49px + 20 * ((100vw - 320px) / 940));
  }

  .menu__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 940));
  }

  .social {
    margin-right: calc(29px + 41 * ((100vw - 320px) / 940));
  }

  .contact__telephone {
    font-size: calc(12px + 4 * ((100vw - 320px) / 940));
  }

  .contact__email {
    font-size: calc(12px + 2 * ((100vw - 320px) / 940));
  }

  .advantages {
    padding-top: calc(30px + 27 * ((100vw - 320px) / 940));
  }

  .advantages {
    padding-bottom: calc(30px + 27 * ((100vw - 320px) / 940));
  }

  .navigate-catalog__item {
    font-size: calc(14px + 4 * ((100vw - 320px) / 940));
  }

  .navigate-catalog__item._active {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 940));
  }

  .navigate-catalog__item._active {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 940));
  }

  .navigate-catalog__item._active {
    padding-left: calc(30px + 30 * ((100vw - 320px) / 940));
  }

  .navigate-catalog__item._active {
    padding-right: calc(30px + 30 * ((100vw - 320px) / 940));
  }

  .slider-catalog__image {
    width: calc(250px + 50 * ((100vw - 320px) / 940));
  }

  .choose {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 940));
  }

  .choose__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 940));
  }

  .delivery__body {
    padding-top: calc(30px + 37 * ((100vw - 320px) / 940));
  }

  .delivery__body {
    padding-left: calc(25px + 29 * ((100vw - 320px) / 940));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .form {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .form__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__line:not(:last-child) {
    margin-bottom: 20px;
  }

  .form__line_number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__button {
    padding: 0px 25px 0px 25px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .slider-arrow {
    height: 40px;
    width: 40px;
    font-size: 14px;
  }

  .header::before {
    height: 80px;
  }

  .header__row {
    min-height: 80px;
  }

  .messengers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main-screen__body {
    padding: 60px 0px 0px 0px;
  }

  .main-screen__to-order:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .main-screen__to-order {
    padding-top: calc(30px + 120 * ((100vw - 320px) / 1120));
  }

  .background-main {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .form-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .form-main__input {
    margin-right: calc(20px + 18 * ((100vw - 320px) / 1120));
    margin-bottom: 0;
  }

  .advantages__item {
    min-width: 280px;
  }

  .calculation__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .delivery__body {
    padding-right: 25px;
  }

  .delivery__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .delivery__image {
    margin: 0;
  }
}

@media (max-width: 850px) {
  .slider-arrows {
    display: none;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    min-height: 10px;
  }

  .header__row {
    min-height: 60px;
  }

  .menu__body {
    padding: 70px 25px 30px 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__item_contacts {
    margin: 20px 0px 0px 0px;
  }

  .menu__item_contacts .row-info__social {
    font-size: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item_contacts .row-info__social:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .menu__item_contacts .row-info__messengers .messengers__item {
    font-size: 20px;
    font-weight: 600;
  }

  .menu__item_contacts .row-info__messengers .messengers__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  .menu__item {
    font-size: 20px;
    font-weight: 600;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  .icon-menu {
    display: block;
    position: relative;
    margin-left: 32px;
    margin-left: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    margin: 0px 0px 0px 30px;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .info-footer__container {
    padding: 12px;
  }

  .main-screen__to-order {
    padding: 40px 0px 0px 0px;
  }

  .form-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-main__input {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1120));
  }

  .advantages__icon {
    padding: 0px 15px 0px 0px;
  }

  .calculation {
    padding: 30px 0px;
  }

  .calculation__title {
    margin-bottom: 30;
  }

  .catalog {
    padding: 40px 0px 0px 0px;
  }

  .catalog__title {
    margin: 0px 0px 20px 0px;
  }

  .navigate-catalog {
    margin: 0px 0px 20px 0px;
  }

  .delivery__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivery__image {
    margin-left: 0px;
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .menu__item_contacts .row-info__social {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) and (max-width: 1260px) {
  .icon-menu {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 940));
  }

  .icon-menu {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 940));
  }

  .delivery__image {
    margin-left: calc(100px + -100 * ((100vw - 320px) / 940));
  }
}

@media (max-width: 600px) {
  .header .menu__text {
    font-size: 16px;
  }

  .header .menu__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .header .row-info__contact:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .header .row-info__contact .contact__telephone,
  .header .row-info__contact .contact__email {
    font-size: 16px;
  }
}

@media (max-width: 479.98px) {
  .form__button {
    min-height: 0;
    padding: 18px 50px 18px 7px;
  }

  .form__button::after {
    right: 7px;
  }

  .form__button::before {
    right: 15px;
  }
}

@media (min-width: 991.98px) and (max-width: 1260px) {
  .background-main__body {
    width: calc(290px + 637 * ((100vw - 320px) / 940));
  }

  .background-main__image::after {
    width: calc(0px + 350 * ((100vw - 320px) / 940));
  }

  .calculation__image {
    width: calc(290px + 341 * ((100vw - 320px) / 940));
  }

  .delivery__body {
    padding-bottom: calc(30px + 37 * ((100vw - 320px) / 940));
  }
}

@media (any-hover: hover) {
  .button_orange:hover {
    background-color: #fff;
  }

  .button_orange:hover::before {
    color: #fff;
  }

  .button_orange:hover::after {
    background-color: #f6b84d;
  }

  .button_white:hover::before {
    color: #f6b84d;
  }

  .button_white:hover::after {
    background-color: #fff;
  }

  .form__button_white:hover {
    border: 1px solid #f6b84d;
    background-color: #f6b84d;
  }

  .header._scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .menu__link:hover {
    color: #f6b84d;
    text-decoration: underline;
  }

  .social > *:hover {
    color: #c4c4c4;
  }

  .messengers__item:hover {
    color: #000;
  }

  .messengers__item:hover.messengers_whats-app::before {
    color: #7cca6f;
  }

  .messengers__item:hover.messengers_viber::before {
    color: #aa73c5;
  }

  .messengers__item:hover.messengers_telegram::before {
    color: #4d8cd7;
  }

  .contact__telephone:hover {
    color: #f6b84d;
  }

  .contact__email:hover {
    color: #959595;
    text-decoration: underline;
  }
}

@media (any-hover: none) {
  .messengers__item {
    color: #000;
  }

  .messengers__item.messengers_whats-app::before {
    color: #7cca6f;
  }

  .messengers__item.messengers_viber::before {
    color: #aa73c5;
  }

  .messengers__item.messengers_telegram::before {
    color: #4d8cd7;
  }
}